*.DS_Store
deploy
*.pyc
scripts/BeautifulSoup.py
assets/*.wav
.*.swp
node_modules
npm-debug.log
game_public/*.js
game_public/*.css
game_public/*.html
lobby_public/*.js
lobby_public/*.css
lobby_public/*.html
